<nav class="navbar border-top navbar-light bg-light">
  <div class='container'>
    <ul class="nav">
      <li class="nav-item"><p>© 2021 Company, Inc</p></li>
    </ul>

    <ul class="nav">
      <a href="/">
        <%= image_tag "logo.png", style: "height: 100px" %>
      </a>
    </ul>

    <ul class="nav">
      <li class="nav-item"><a href="#" class="nav-link link-dark px-2 bi bi-envelope"> rent.bike@gmail.com</a></li>
    </ul>
  </div>
</nav>
